.vlabs-page {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.vlabs-header {
    border-bottom: 8px solid #ff6600;
    font-family: 'Raleway', sans-serif;
}

.vlabs-page-main {
    font-size: 1.2rem;
}

.vlabs-lab-name {
    font-size: 1.7rem;
}

.vlabs-footer {
    /*font-size: 0.8rem;*/
    background: rgb(17, 17, 17);
    font-family: 'Raleway', sans-serif;
}

.vlabs-footer-sect-name {
    border-width: 0.15rem;
    border-style: solid;
    border-image: linear-gradient( to right, #3EC1D5 20%, #555 0% ) 0% 0% 100% 0%;
}

.vlabs-lab-name {
    color: #2C99CE;
}

.vlabs-page-content {
    font-family: "Raleway", sans-serif;
    border-left: 2px dotted #89a7c4;
}

.vlabs-page-content p {
    font-size: 1rem;
    text-align: justify;
}

.social-links > a {
    color: #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.sidebar a {
    color: #3e6389;
}
.sidebar a:hover {
    color: #ff6600;
}

.sidebar {
}


.vlabs-header a {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    color: #2C98CD;
}


.vlabs-header #headerNavbar a:hover {    
    background: #77BB41;
    color: #fff;
}

.breadcrumbs {
    font-size: 1.6rem;
}